@charset "UTF-8";
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "ヒラギノ明朝 ProN", serif;
  font-size: 16px;
  line-height: 1.6875;
  background: #fff;
  color: #333333;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

.section {
  margin-top: 140px;
}
@media screen and (max-width: 767px) {
  .section {
    margin-top: 82px;
  }
}

.section-title {
  font-size: 46px;
  color: #333333;
  text-align: center;
  padding-bottom: 2px;
  position: relative;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
    padding-bottom: 10px;
  }
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}

/*=================
header
=================*/
.header {
  background: #FFFFFF;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    padding: 44px 0;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo {
  width: 120px;
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header_nav {
    display: none;
  }
}
.header_nav li:not(:first-child) {
  margin-left: 52px;
}
.header_nav li a {
  text-decoration: none;
  display: block;
}
@media screen and (min-width: 768px) {
  .header_nav li a {
    -webkit-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
  }
  .header_nav li a:hover {
    color: #3EA1D1;
  }
}

/*=================
drawer
=================*/
.drawer-icon {
  position: fixed;
  top: 48px;
  right: 16px;
  z-index: 150;
  display: none;
}
@media screen and (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active {
  top: 20px;
  right: 16px;
}
.drawer-icon.is-active .drawer-icon-bars1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}
.drawer-icon.is-active .drawer-icon-bars2 {
  display: none;
}
.drawer-icon.is-active .drawer-icon-bars3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

.drawer-icon-bars {
  width: 30px;
  height: 18px;
  position: relative;
  display: block;
}

.drawer-icon-bars1,
.drawer-icon-bars2,
.drawer-icon-bars3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #3EA1D1;
}

.drawer-icon-bars1 {
  top: 0;
}

.drawer-icon-bars2 {
  top: 8px;
}

.drawer-icon-bars3 {
  top: 16px;
}

.drawer-content {
  position: fixed;
  height: 100%;
  width: 270px;
  background: #3EA1D1;
  top: 60px;
  right: 0;
  z-index: 140;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-content-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 15px 0px;
  text-align: right;
}

/*=================
main
=================*/
.main {
  padding-top: 70px;
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

/*=================
top
=================*/
.top {
  position: relative;
}

@media screen and (max-width: 767px) {
  .top-img {
    padding-top: 130%;
    background: url(../img/sp/top@2x.png) no-repeat center center/cover;
  }
}
@media screen and (min-width: 768px) {
  .top-img {
    padding-top: 55%;
    background: url(../img/top@2x.png) no-repeat right top/82.5%;
  }
}

@media screen and (min-width: 768px) {
  .top-message {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #fff;
    width: 370px;
    height: 330px;
    padding: 92px 40px 92px 40px;
  }
}
@media screen and (max-width: 767px) {
  .top-message {
    margin-top: 28px;
  }
}

.top-message-title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.6923076923;
}

.top-message-text {
  line-height: 1.6875;
  margin-top: 7px;
}
@media screen and (max-width: 767px) {
  .top-message-text {
    margin-top: 16px;
  }
}

/*=================
concept
=================*/
.concept-content {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .concept-content {
    display: block;
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .concept-content-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media screen and (min-width: 768px) {
  .concept-content-message {
    margin-left: 6.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}
@media screen and (max-width: 767px) {
  .concept-content-message {
    margin-top: 40px;
  }
}

.concept-content-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7;
}

.concept-content-text {
  margin-top: 36px;
  line-height: 1.6875;
}
@media screen and (max-width: 767px) {
  .concept-content-text {
    margin-top: 32px;
  }
}

/*=================
feature
=================*/
@media screen and (max-width: 767px) {
  .feature {
    max-width: 340px;
    margin-top: 60px;
  }
}

.feature-items {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .feature-items {
    display: block;
    margin-top: 48px;
  }
}

.feature-items-list {
  -webkit-box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.1607843137);
}
@media screen and (min-width: 768px) {
  .feature-items-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.3333%;
            flex: 0 0 28.3333%;
  }
}
@media screen and (max-width: 767px) {
  .feature-items-list {
    margin-top: 49px;
  }
}

@media screen and (min-width: 768px) {
  .feature-items-link:hover .feature-items-img > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.feature-items-img {
  overflow: hidden;
}
.feature-items-img > img {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.feature-items-body {
  padding: 25px;
}

.feature-items-title {
  line-height: 1.6875;
  font-weight: 700;
  text-align: center;
}

/*=================
about
=================*/
.about {
  margin-top: 157px;
  position: relative;
  padding: 115px 0;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about {
    background: url(../img/bg@2x.png) no-repeat center center/cover;
  }
}
@media screen and (max-width: 767px) {
  .about {
    background: url(../img/sp/bg@2x.png) no-repeat center center/cover;
    margin-top: 100px;
    padding: 170px 0 40px;
  }
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.about_inner {
  position: relative;
}

.about-title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 1.85;
}
@media screen and (max-width: 767px) {
  .about-title {
    font-size: 20px;
  }
}

.about-text {
  color: #fff;
  line-height: 1.6875;
  margin-top: 36px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .about-text {
    font-size: 14px;
    margin-top: 14px;
  }
}

/*=================
products
=================*/
.products {
  max-width: 940px;
}
@media screen and (max-width: 767px) {
  .products {
    max-width: 340px;
    padding: 0 58px;
  }
}

.product-items {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .product-items {
    display: block;
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .product-items-list {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.659%;
            flex: 0 0 27.659%;
  }
}

@media screen and (min-width: 768px) {
  .product-items-link:hover .product-items-img > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.product-items-img {
  overflow: hidden;
}
.product-items-img > img {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (max-width: 767px) {
  .product-items-img {
    margin-top: 48px;
  }
}

.product-items-title {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.7142857143;
}

.product-items-cost {
  font-size: 14px;
  margin-top: 14px;
}
@media screen and (max-width: 767px) {
  .product-items-cost {
    margin-top: 16px;
  }
}

.product-button {
  margin-top: 46px;
  text-align: center;
}
.product-button a {
  display: inline-block;
  width: 158px;
  height: 46px;
  font-size: 14px;
  color: #3EA1D1;
  background: #fff;
  border: 1px solid #3EA1D1;
  line-height: 46px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .product-button a:hover {
    background: #3EA1D1;
    color: #fff;
  }
}

/*=================
news
=================*/
.news {
  max-width: 1040px;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 0 32px;
  }
}

.news-items {
  margin-top: 20px;
}

.news-item {
  border-bottom: 1px solid #E0E0E0;
}

.news-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
@media screen and (min-width: 768px) {
  .news-item-link :hover .news-item-img > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (max-width: 767px) {
  .news-item-link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .news-header {
    margin-right: 40px;
  }
}

.news-item-img {
  overflow: hidden;
}
.news-item-img > img {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .news-item-img {
    width: 260px;
  }
}
@media screen and (max-width: 767px) {
  .news-item-img {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .news-item-body {
    width: calc(100% - 260px);
  }
}

.news-body-date {
  font-size: 14px;
  line-height: 1.7142857143;
}
@media screen and (max-width: 767px) {
  .news-body-date {
    margin-top: 24px;
  }
}

.news-body-title {
  font-size: 18px;
  line-height: 1.7222222222;
  font-weight: 700;
  margin-top: 8px;
}
.news-text {
  color: #888888;
  font-size: 14px;
  line-height: 1.7142857143;
  margin-top: 10px;
}
.news-button {
  margin-top: 55px;
  text-align: center;
}
.news-button a {
  display: inline-block;
  width: 158px;
  height: 46px;
  font-size: 14px;
  color: #3EA1D1;
  background: #fff;
  border: 1px solid #3EA1D1;
  line-height: 46px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
@media screen and (min-width: 768px) {
  .news-button a:hover {
    background: #3EA1D1;
    color: #fff;
  }
}

/*=================
concept2
=================*/
.concept2 {
  margin-top: 160px;
}

.concept2-content {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .concept2-content {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .concept2-content-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media screen and (min-width: 768px) {
  .concept2-content-message {
    margin-right: 6.6666666667%;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.concept2-content-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7142857143;
}
@media screen and (max-width: 767px) {
  .concept2-content-title {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.4166666667;
  }
}

.concept2-content-text {
  margin-top: 34px;
  line-height: 1.6875;
}

/*=================
contact
=================*/
.contact {
  background: url(../img/contact@2x.png) no-repeat center center/cover;
  padding: 65px 0 70px;
  margin-top: 225px;
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 96px;
    padding: 57px 28px;
  }
}

.contact-head {
  font-size: 40px;
  color: #3EA1D1;
  text-align: center;
  padding-bottom: 0px;
  position: relative;
  font-weight: 700;
}
.contact-head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 1px;
  background: #3EA1D1;
}

.contact-text {
  margin-top: 53px;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .contact-text {
    margin-top: 33px;
  }
}
.contact-text span {
  color: #E7728E;
  font-size: 16px;
}

.contact-form {
  margin: 24px auto 0;
  max-width: 510px;
}

.contact-form-dl {
  margin-top: 20px;
}

.contact-form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-form-row:not(:first-child) {
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .contact-form-row {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .contact-form-label {
    width: 180px;
    color: #fff;
    background: rgba(62, 161, 209, 0.7019607843);
    font-size: 18px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  .contact-form-label::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent rgba(62, 161, 209, 0.7019607843);
    top: 0;
    right: -8px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form-label {
    display: inline-block;
    color: #fff;
    background: rgba(62, 161, 209, 0.7019607843);
    font-size: 14px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    padding: 0 15px 0 15px;
  }
}

.contact-form-inline {
  color: #E7728E;
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .contact-form-inline {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-form-input {
    width: calc(100% - 180px);
    margin-left: 18px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form-input {
    width: 100%;
    margin-top: 3px;
  }
}
.contact-form-input [type=text] {
  width: 100%;
  background: #fff;
  height: 40px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact-form-input [type=email] {
  width: 100%;
  background: #fff;
  height: 40px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.contact-form-input textarea {
  width: 100%;
  background: #fff;
  height: 122px;
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.1607843137);
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
}
.contact-form-input .contact-radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #3EA1D1;
  border-radius: 1px;
  -webkit-box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.1607843137);
          box-shadow: 5px 5px 15px rgba(96, 96, 96, 0.1607843137);
}
.contact-form-input .contact-radio {
  position: relative;
}
.contact-form-input .contact-radio-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 0;
}
.contact-form-input .contact-radio-input:checked + .contact-radio-part {
  background: #3EA1D1;
  color: #fff;
  border-radius: 1px;
}
.contact-form-input .contact-radio-part {
  display: inline-block;
  background: #fff;
  color: #3EA1D1;
  height: 40px;
  line-height: 40px;
  width: 80px;
  text-align: center;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.contact-form-check {
  margin-top: 22px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-form-check {
    margin-top: 27px;
  }
}
.contact-form-check [type=checkbox] {
  display: none;
}
.contact-form-check span {
  padding-left: 30px;
  display: inline-block;
  position: relative;
}
.contact-form-check span::before {
  content: "";
  position: absolute;
  border: 1px solid #3EA1D1;
  background: #fff;
  width: 22px;
  height: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.contact-form-check span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../img/checkbox@2x.png) no-repeat center center/contain;
  display: none;
}
.contact-form-check [type=checkbox]:checked + span::after {
  display: block;
}
.contact-form-check a {
  color: #3EA1D1;
  text-decoration: underline;
}

.contact-form-button {
  margin-top: 44px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact-form-button {
    margin-top: 26px;
  }
}
.contact-form-button [type=submit] {
  width: 140px;
  height: 46px;
  font-size: 14px;
  color: #3EA1D1;
  background: #fff;
  border: 1px solid #3EA1D1;
  line-height: 46px;
}
.contact-form-button [type=submit].is-active {
  background: #3EA1D1;
  color: #fff;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
}
.contact-message.-error {
  color: #f00;
}

/*=================
footer
=================*/
.footer {
  background: #F7F7F7;
  padding: 50px 40px 17px;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 17px;
  }
}

.footer-logo {
  width: 120px;
  margin: 0 auto;
}
.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  font-size: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer-nav-list {
    display: block;
    text-align: center;
  }
}
.footer-nav-list li:not(:first-child) {
  margin-left: 32px;
}
@media screen and (max-width: 767px) {
  .footer-nav-list li:not(:first-child) {
    margin-left: 0;
  }
  .footer-nav-list li:not(:first-child):not(:first-child) {
    margin-top: 16px;
  }
}
.footer-nav-list li a {
  text-decoration: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
.footer-nav-list li a:hover {
  opacity: 0.7;
}

.footer-sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-sns-list li:not(:first-child) {
  margin-left: 40px;
}
.footer-sns-list li a {
  text-decoration: none;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}
.footer-sns-list li a:hover {
  opacity: 0.7;
}

.copy-right {
  color: #888888;
  font-size: 12px;
  text-align: center;
  margin-top: 14px;
}
